<!DOCTYPE html>
<html lang="fr">
<head>
    <meta name="viewport" content="width=device-width, maximum-scale=1" />
    <link rel="icon" href="/assets/images/favicon-32x32.ico"/>
    <meta charset="UTF-8" />
    <title>AMOS FAMES - Réinitialisation de mot de passe</title>

    <link rel="stylesheet" href="/assets/styles/app.css">
    <link rel="stylesheet" href="/assets/styles/reset.css">

</head>

<body>
    <main>
        <div class="reset-container">
            <h1>Lien de réinitialisation invalide</h1>
            <p>
                Le lien que vous avez utilisé est invalide ou a expiré.<br>
                Vous pouvez demander un nouveau lien ci-dessous.
            </p>

            <a href="{{ path('app_forgot_password_request') }}">
                Demander un nouveau lien
            </a>
        </div>
    </main>
</body>
