{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lien de réinitialisation invalide</h1>
    <p>
        Le lien que vous avez utilisé est invalide ou a expiré.<br>
        Vous pouvez demander un nouveau lien ci-dessous.
    </p>

    <a href="{{ path('app_forgot_password_request') }}">
        Demander un nouveau lien
    </a>
{% endblock %}
