<!DOCTYPE html>
<html lang="fr">
<head>
    <meta name="viewport" content="width=device-width, maximum-scale=1" />
    <link rel="icon" href="/assets/images/favicon-32x32.ico"/>
    <meta charset="UTF-8" />
    <title>AMOS FAMES - Accueil</title>
    <link rel="stylesheet" href="/assets/styles/app.css">
    <link rel="stylesheet" href="/assets/styles/homepage.css">
<body>
{% include "navbar.html.twig" %}

<main class="homepage">
    <section class="image-section">
        <img class="background-image" src="/assets/images/homeImage.jpg" alt="Image d'accueil">
        <div class="head-content">
            <div class="headline-text">
                <span class="headline-text_start">Inscrivez vous</span>
                <span class="headline-text_end">au FAMES</span>
            </div>
            <div class="head-action">
                <a href="/forum" class="button1" onclick="handleForumClick()">Inscrivez-vous</a>
            </div>
        </div>
    </section>
    <section class="forum-section">
        <div class="forum-text">
            <h2 class="text-title">Le Forum</h2>
            <p class="text-main">Le forum est vraiment top Lorem Ipsum et tout</p>
        </div>
        <img src="/assets/images/fames_illustration.jpg" alt="photo du FAMES">
    </section>
</main>
{% include "footer.html.twig" %}
</body>
</html>
