{% extends 'base.html.twig' %}

{% block title %}Email de modification de mot de passe envoyé{% endblock %}

{% block body %}
    <p>
        Si un compte avec ce mail existe, alors un email a été envoyé qui contient le lien utilisable pour modifier votre mot de passe.
        Ce lien va expirer dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas d'email, vérifier dans vos spams ou bien <a href="{{ path('app_forgot_password_request') }}">réessayez</p>
{% endblock %}
