<!DOCTYPE html>
<html lang="fr">
<head>
    <meta name="viewport" content="width=device-width, maximum-scale=1" />
    <link rel="icon" href="/assets/images/favicon-32x32.ico"/>
    <meta charset="UTF-8" />
    <title>AMOS FAMES - Réinitialisation de mot de passe</title>

    <link rel="stylesheet" href="/assets/styles/app.css">
    <link rel="stylesheet" href="/assets/styles/reset.css">

</head>

<body>
<main>
    <div class="reset-container">
        {% for flash_error in app.flashes('reset_password_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}
        <h1>Modifier votre mot de passe</h1>

        {{ form_start(requestForm) }}
            {{ form_row(requestForm.user_email) }}
            <div>
                <small>
                    Entrez votre adresse mail, et nous allons vous envoyer un lien pour modifier votre mot de passe.
                </small>
            </div>

            <button class="btn btn-primary">Envoyez la demande de modification de mot de passe</button>
        {{ form_end(requestForm) }}
    </div>
</main>
</body>
