<!DOCTYPE html>
<html lang="fr">
<head>
    <meta name="viewport" content="width=device-width, maximum-scale=1" />
    <link rel="icon" href="/assets/images/favicon-32x32.ico"/>
    <meta charset="UTF-8" />
    <title>AMOS FAMES - Réinitialisation de mot de passe</title>

    <link rel="stylesheet" href="/assets/styles/app.css">
    <link rel="stylesheet" href="/assets/styles/reset.css">

</head>

<body>
    <main>
        <div class="reset-container">
            <h1>Modifiez votre mot de passe</h1>

            {{ form_start(resetForm) }}
                {{ form_row(resetForm.plainPassword) }}
                <button class="btn btn-primary">Modifiez votre mot de passe</button>
            {{ form_end(resetForm) }}
        </div>
    </main>
</body>
