<!DOCTYPE html>
<html lang="fr">
<head>
    <meta name="viewport" content="width=device-width, maximum-scale=1" />
    <link rel="icon" href="/assets/images/favicon-32x32.ico"/>
    <meta charset="UTF-8" />
    <title>AMOS FAMES - Accueil</title>
    <link rel="stylesheet" href="/assets/styles/admin.css">
    <link rel="stylesheet" href="/assets/styles/app.css">
</head>
<body>
{% include "navbar.html.twig" %}
<main  class="admincompaniespage">
    <h1>GESTION DES ENTREPRISES</h1>
</main>
{% include "footer.html.twig" %}
</body>
</html>
