<!DOCTYPE html>
<html lang="fr">
<head>
    <meta name="viewport" content="width=device-width, maximum-scale=1" />
    <link rel="icon" href="/assets/images/favicon-32x32.ico"/>
    <meta charset="UTF-8" />
    <title>AMOS FAMES - Gestion des entreprises</title>
    <link rel="stylesheet" href="/assets/styles/admin.css">
    <link rel="stylesheet" href="/assets/styles/app.css">
</head>
<body>
{% include "navbar.html.twig" %}

<main class="admin-forum">
    <h1 class="title-forum">GESTION DU FORUM</h1>

    <section class="forum-section">

    </section>
</main>
{% include "footer.html.twig" %}
</body>
</html>
