/* Général */
body, html {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Nue", sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1; /
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

