{% extends 'base.html.twig' %}

{% block title %}Modifier {{ company.companyName }}{% endblock %}

{% block body %}
    <h1>Modifier l’entreprise : {{ company.companyName }}</h1>

    {# Inclusion du formulaire #}
    {% include 'company/_form.html.twig' with {
        form: form,
        button_label: 'Mettre à jour'
    } %}

    <a href="{{ path('app_company_show', { company_name: company.companyName }) }}">← Retour au détail</a>
{% endblock %}
