{% extends 'base.html.twig' %}

{% block title %}Modifier {{ company.companyName }}{% endblock %}

{% block body %}
    <div id="company-edit" class="company-edit container">
        <h1 id="company-edit-title">Modifier l’entreprise : {{ company.companyName }}</h1>

        {# Inclusion du formulaire #}
        {% include 'company/_form.html.twig' with {
            form: form,
            button_label: 'Mettre à jour'
        } %}

        <a id="company-edit-back" class="btn company-back" href="{{ path('app_company_show', { company_name: company.companyName }) }}">← Retour au détail</a>
    </div>
{% endblock %}
