{% extends 'base.html.twig' %}

{% block title %}Nouvelle entreprise{% endblock %}

{% block body %}
<div class="container py-4">
    <h1 class="mb-3">Créer une entreprise</h1>

    {# On inclut le partial _form.html.twig #}
    {% include 'company/_form.html.twig' with {
        form: form,
        button_label: 'Créer'
    } %}
</div>
{% endblock %}
