{% extends 'company/base.html.twig' %}

{% block title %}Nouvelle entreprise{% endblock %}

{% block body %}
<div id="company-new" class="company-new container py-4">
    <h1 id="company-new-title" class="company-new-title mb-3">Créer une entreprise</h1>

    {# On inclut le partial _form.html.twig #}
    {% include 'company/_form.html.twig' with {
        form: form,
        button_label: 'Créer'
    } %}
</div>
{% endblock %}
