{# templates/company/new.html.twig #}
{% extends 'company/base.html.twig' %}

{% block title %}Nouvelle entreprise{% endblock %}

{% block company_content %}
<div class="admin-page-container">
    <h1 class="page-title">Créer une entreprise</h1>

    {% include 'company/_form.html.twig' with {
        form: form,
        button_label: 'Créer'
    } %}

    <div class="page-actions">
        <a class="btn btn-view" href="{{ path('app_company_index') }}">Retour à la liste</a>
    </div>
</div>
{% endblock %}