<style>
    footer {
        background-color:#008b57;
        color:white;
        text-align: center;
        padding: 2rem;
        width: 100%;
        margin-top: auto;
        box-sizing: border-box;
    }
    a{
        color: white;
        text-decoration: underline;
    }
</style>
<footer>
    <p>© 2025 FAMES, Amos Business school. Tous droits réservés.</p>
    <a href="/a-propos" class="a-propos">À propos</a>
    <a href="/mentions-legales" class="mentions-legales">Mentions légales</a>
</footer>
