<style>
    footer {
        background-color:#008b57;
        color:white;
        text-align: center;
        padding: 1% 2%;
        width: 96%;
    }
    a{
        color: white;
    }
</style>
<footer>
    <p>© 2025 FAMES, Amos Business school. Tous droits réservés.</p>
    <a href="/a-propos" class="a-propos">À propos</a>
    <a href="/mentions-legales" class="mentions-legales">Mentions légales</a>
</footer>
