<link rel="stylesheet" href="/assets/styles/footer.css">
<footer>
    <p>© 2025 FAMES, Amos Business school. Tous droits réservés.</p>
    <a href="/a-propos" class="a-propos">À propos</a>
    <a href="/mentions-legales" class="mentions-legales">Mentions légales</a>
</footer>
