<style>
    footer {
        background-color:#008b57;
        color:white;
        text-align: center;
        padding: 15px;
        margin-top: auto;
    }
</style>
<footer>
    <p>© 2025 FAMES, Amos Business school. Tous droits réservés.</p>
</footer>
