body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.first-word {
    color: #008b57;
}

h1 {
    margin-bottom: 20px;
}

form {
    padding: 30px 40px;
    max-width: 400px;
    width: 100%;
}

form div {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

label {
    margin-left: 10px;
    font-size: 16px;
}

.info {
    display: inline-block;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    border-radius: 50%;
    background-color: #008b57;
    color: white;
    font-weight: bold;
    margin-left: 5px;
    cursor: pointer;
    font-size: 12px;
}

.info:hover {
    background-color: #008b57;
}

