<div>
  <h2 >Import CSV</h2>
  {{ form_start(importForm, {
    attr: { enctype: 'multipart/form-data' },
    action: path('app_user_import'),   
    method: 'POST'
  }) }}
    {{ form_row(importForm.csvFile) }}
    <button>Importer</button>
  {{ form_end(importForm) }}

</div>