{% extends 'base.html.twig' %}

{% block title %}Modifier l’utilisateur{% endblock %}

{% block body %}
  <div class="container py-4">
    <h1 class="mb-3">Modifier l’utilisateur</h1>

    {% include 'user/_form.html.twig' with {
      form: form,
      button_label: 'Modifier',
      include_submit: true
    } %}
    <div class="mt-4">
      <a class="btn btn-link" href="{{ path('app_user_index', {id: user.userId}) }}">← Retour</a>
    </div>
  </div>
{% endblock %}
