{% extends 'user/base.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}
  <div id="user-new" class="user-new container py-4">
    <h1 id="user-new-title" class="user-new-title mb-3">Créer un utilisateur</h1>

    {% include 'user/_form.html.twig' with {
      form: form,
      button_label: 'Créer',
      include_submit: true
    } %}
  </div>
{% endblock %}
