{% extends 'user/base.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}
    <div class="admin-page-container">
        <h1 class="page-title">Créer un utilisateur</h1>

        {% include 'user/_form.html.twig' with {
            form: form,
            button_label: 'Créer'
        } %}
        
        <div class="page-actions">
            <a class="btn btn-view" href="{{ path('app_user_index') }}">Retour à la liste</a>
        </div>
    </div>
{% endblock %}